@import "tailwindcss";

html,
body {
  font-size: 16px;
}

@theme {
  --color-primary: #2559b0;
  --color-secondary: #e8ca37;
  --color-secondary-dark: #9d4e0c;
  --color-success: #528b38;
  --color-destructive: #853010;
  --color-background: #171717;
  --color-background-dark: #0e0e0e;
  --color-text: white;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-background) var(--color-background-dark);
}
